* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$bg-color: #222;
$text-color: #fff;

body, html {
  height: 100%;
  font-family: sans-serif;
}

body {
  background: $bg-color;
  color: $text-color;
}